

body {
background-color: #888888;
}


div {    
    width: 960px; 
        margin: auto;
            background-color: #006600;
                border: 2px;
                     clear: both;
}



.about {
    clear: both;
      color: #008800;
            padding: 10px;
                font-size: xx-large;
                    font-weight: bold;
        }

.pic{
    float: left;

        }



p {
    clear: both; 
                color: black;;
        }

        #section {
            float: left;
            height: 60px;
          width: 100%;
          background: #004400;
        }
        
        #name {
            color: white;
            font-weight: bold;
            font-size: x-large;
            margin-top: 0%;
            margin-left: 187px;
            float: left;
            height: 60px;
            width: auto;
          background: #008800;
        }
        
        #contacts {
            font-size: x-large;
            float: right;
            width: auto;
            height: 60px;
            padding-left: 571px;
            background: #004400;
          }
        
         #article {
             height: 20px;
            padding: 20px;
            margin: 20px;
            background: #005500;
          }

          #footer_content {
              margin-top: 62px;
            padding-top: 80px;
            color: beige;
            border-top: aqua;
            background-color: #444444;
                height: 30px;
                    text-align: center;
        }
        

a:link {}
a:visited {}